@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    min-height: 100vh;
    background: #0E1128;
}
.nft-pro{
    width: auto;
    height: 100%;
    max-width: unset !important;
}
.head-txt{

font-size: 32px;
font-weight: 700;
line-height: 39px;
letter-spacing: 0em;
text-align: left;

}
.bg-main{
    background-image: url('../src/assets/bg.png');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-br{
    border-bottom: 1px solid #ffffff24;
}
.btc-btn{
    background: linear-gradient(90deg, #9504F3 0%, #4129A1 100%);
border-radius: 60px;
padding: 8px 31px 8px 31px;
}
.swap-box{
    background: linear-gradient(180deg, rgba(44, 43, 93, 0.6) 0%, rgba(34, 27, 55, 0.6) 100%);
backdrop-filter: blur(2.5px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 30px;
}
.swap-blur{
    background: rgba(88, 47, 255, 0.4);
filter: blur(173.5px);
position: absolute;
width: 786px;
height: 786px;
left: calc(50% - 786px/2);
top: -343px;
}