@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Druk";
    src: url("../public/fonts/FontsFree-Net-Druk-Wide-Bold.ttf");

  }
  .font-druk {
    font-family: "Druk";
  }
html{
    min-height: 100vh;
    background: #0E1128;
}
.nft-pro{
    width: auto;
    height: 100%;
    max-width: unset !important;
}
.head-txt{

font-size: 32px;
font-weight: 700;
line-height: 39px;
letter-spacing: 0em;
text-align: left;

}
.bg-main{
    background-image: url('../src/assets/bg.png');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-br{
    border-bottom: 1px solid #ffffff24;
}
.btc-btn{
    background: linear-gradient(90deg, #9504F3 0%, #4129A1 100%);
border-radius: 60px;
padding: 8px 31px 8px 31px;
}
.swap-box{
    background: linear-gradient(180deg, rgba(44, 43, 93, 0.6) 0%, rgba(34, 27, 55, 0.6) 100%);
backdrop-filter: blur(2.5px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 30px;
}
.swap-blur{
    background: rgba(88, 47, 255, 0.4);
filter: blur(173.5px);
position: absolute;
width: 786px;
height: 786px;
left: calc(50% - 786px/2);
top: -343px;
}


.popup-y.mount {
    animation: inAnimation 300ms ease forwards;
  }
  
  .popup-y.unmount {
    animation: outAnimation 300ms ease forwards;
  }


  
.popup-y {
    --duration: 300ms;
  }
  
  .popup-y.mount {
    animation: inAnimation var(--duration) ease forwards;
  }
  
  .popup-y.unmount {
    animation: outAnimation var(--duration) ease forwards;
  }
  
  @keyframes inAnimation {
    0% {
      opacity: 0;
      transform: translate(-50%, -80%) scale(0.9);
    }
  
    100% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
  
  @keyframes outAnimation {
    0% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  
    100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.9);
    }
  }
  
  .fade-z {
    --duration: 300ms;
  }
  
  .fade-z.mount {
    animation: FadeIn var(--duration) ease forwards;
  }
  
  .fade-z.unmount {
    animation: FadeOut var(--duration) ease forwards;
  }
  
  .fade-in {
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
    animation-duration: 300ms;
    transition-timing-function: linear;
  }
  
  .black-screen-animation {
    --duration: 300ms;
  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
  }
  
  .black-screen-animation.mount {
    animation: fade-in var(--duration) ease forwards;
  }
  
  .black-screen-animation.unmount {
    animation: fade-out var(--duration) ease forwards;
  }
  
  @keyframes fade-in {
    0% {
      display: flex;
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  .fade-out {
    animation: fade-out 300ms forwards;
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  .calendar-input::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }
  